NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2023-05-17
NEXT_PUBLIC_SANITY_TOKEN_FORM=

SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_STOREFRONT_ACCESSTOKEN=
SHOPIFY_API_VERSION=2025-10

NEXT_PUBLIC_SITE_URL=https://example.com

NEXT_PUBLIC_CLIENT_ID=site
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_FB_ID=
NEXT_PUBLIC_HOTJAR_ID=
NEXT_PUBLIC_PINTEREST_ID=
