@use '../../../styles/common/variables' as *;
@use '../../../styles/common/tokens' as *;
@use '../../../styles/mixins/mixins' as *;

.root {
  display: inline-flex;
  align-items: baseline;
  gap: px(8);
  font-family: $MonumentGrotesk;
  font-size: px(11);
  line-height: px(15);
  letter-spacing: 0.5px;
  color: map-get($colors, 'darker');
  margin: 0;
}

.compare {
  text-decoration: line-through;
  color: map-get($colors, 'gray');
}
