@use '@/styles/common/variables' as *;
@use '@/styles/mixins/mixins' as *;

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px(16);
  padding: px(32) px(24);

  @include from(sm) {
    padding: px(48) px(30);
  }
}

.description {
  max-width: px(600);
  margin: 0;
  font-family: $MonumentGrotesk;
  font-size: px(12);
  line-height: px(18);
  text-align: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: px(36);
  padding: 0 px(24);
  background: map-get($colors, 'black-border');
  color: map-get($colors, 'white');
  font-family: $MonumentGrotesk;
  font-size: px(11);
  letter-spacing: px(0.5);
  text-transform: uppercase;
}
